@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<section id="advantages">
    <details>
        <summary>✅ @Localizer["AdvantagesTitle"]</summary>
        <ul>
            <li>@Localizer["AdvantageAccess"]</li>
            <li>@Localizer["AdvantageDesign"]</li>
            <li>@Localizer["AdvantagePricing"]</li>
            <li>@Localizer["AdvantageTeachers"]</li>
            <li>@Localizer["AdvantageMaterials"]</li>
        </ul>
    </details>
</section>