@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<footer id="contacts">
    <p>📞 @Localizer["FooterContact"]</p>
    <p>🌐 @Localizer["FooterFollowUs"]:
        <a href="#">@Localizer["FooterFacebook"]</a> |
        <a href="#">@Localizer["FooterInstagram"]</a> |
        <a href="#">@Localizer["FooterLinkedIn"]</a>
    </p>
</footer>
